extends layout

block content
  h1 Resumen de Admisión del Paciente

  h2 Datos Personales
  p Nombre: #{paciente.nombre}
  p DNI: #{paciente.dni}
  p Fecha de Nacimiento: #{paciente.fechaNacimiento}
  p Sexo: #{paciente.sexo}
  p Teléfono: #{paciente.telefono}
  p Dirección: #{paciente.direccion}
  p Obra Social: #{paciente.obraSocial}
  - const via = paciente.viaIngreso === 'programada' ? 'Cita programada' : paciente.viaIngreso === 'derivacion' ? 'Derivación médica' : paciente.viaIngreso === 'emergencia' ? 'Emergencia' : 'No especificada';
  p Vía de ingreso: #{via}
  if paciente.medicoDerivante
    p Médico derivante: #{paciente.medicoDerivante}

  if internacion
    h2 Internación
    p Fecha de ingreso: #{internacion.fechaIngreso}
    p Cama asignada: #{internacion.Cama.numero}
    p Habitación: #{internacion.Cama.Habitacion.numero}
    p Ala: #{internacion.Cama.Habitacion.Ala.nombre}

    if internacion.fechaAlta
      p Fecha de alta: #{internacion.fechaAlta.toDateString()}
    else
      form(action=`/internacion/alta/${paciente.id}` method="POST" onsubmit="return confirm('¿Confirmar alta hospitalaria del paciente?');")
        button(type="submit" style="color:green") ✅ Dar de alta al paciente

    form(action=`/internacion/cancelar/${paciente.id}` method="POST" onsubmit="return confirm('¿Cancelar esta internación?');")
      button(type="submit" style="color:red") ❌ Cancelar internación
  else
    p No se encontró internación activa.

  if evaluacionEnfermeria
    h2 Evaluación de Enfermería
    p Enfermedades Previas: #{evaluacionEnfermeria.enfermedadesPrevias}
    p Cirugías: #{evaluacionEnfermeria.cirugias}
    p Alergias: #{evaluacionEnfermeria.alergias}
    p Medicación Actual: #{evaluacionEnfermeria.medicacionActual}
    p Motivo de Internación: #{evaluacionEnfermeria.motivoInternacion}
    p Síntomas: #{evaluacionEnfermeria.sintomas}
    p Presión: #{evaluacionEnfermeria.presion}
    p Frecuencia Cardíaca: #{evaluacionEnfermeria.frecuenciaCardiaca}
    p Frecuencia Respiratoria: #{evaluacionEnfermeria.frecuenciaRespiratoria}
    p Temperatura: #{evaluacionEnfermeria.temperatura}
    p Plan de Cuidados: #{evaluacionEnfermeria.planCuidados}
  else
    p No se encontró evaluación de enfermería.

  if evaluacionMedica
    h2 Evaluación Médica
    p Diagnóstico: #{evaluacionMedica.diagnostico}
    p Tratamientos: #{evaluacionMedica.tratamientos}
    p Medicación: #{evaluacionMedica.medicacion}
    p Estudios solicitados: #{evaluacionMedica.estudiosSolicitados}
    p Observaciones: #{evaluacionMedica.observaciones}
  else
    p No se encontró evaluación médica.
